

@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;600&display=swap');


body, html {
	background-color: #000000;
	color:#ffffff;
	font-family: 'Cormorant', serif;
	font-weight: 600;
	background: url("img/ghosttown-bg.jpg") no-repeat center center fixed; */
	background-color: #00031C;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a, a:active, a:visited {
	color:#ffffff;
}
p {
	margin-bottom: .5em;
}
@media only screen and (min-width: 851px) {
	body {
		font-size: 24px;
		line-height: 1.4em;
	}
}
@media only screen and (max-width: 600px) {
	body {
		font-size: 16px;
		line-height: 1.2em;
	}
}
@media only screen and (min-width: 601px) and (max-width: 850px) {
	body {
		font-size: 18px;
		line-height: 1.3em;
	}
}
#title {
	color: #ffffff;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-left: 15px;
	margin-right: 15px;
	text-transform: uppercase;
	font-size: 1.5em;
	font-family: 'Cormorant', serif;
	font-weight: 300;
	letter-spacing: .3em;
	line-height: 2em;
	#border-bottom:0.5px solid #666666;
}
@media only screen and (max-width: 600px) {
	#title {
		letter-spacing: .2em;
	}
}
#wrapper {
	position: fixed;
    top: 30%;
    transform: translateY(-50%);
}
#display {
	text-align: center;
	line-height: 140%;
	font-size: 1.7em;
}


@media only screen and (min-width: 851px) {
	#wrapper {
		width:60%;
		left:50%;
		transform: translateX(-50%);
	}
}
@media only screen and (max-width: 600px) {
	#wrapper {
		width:80%;
		left:10%;
		top:20%;
		transform: translateX(-15%);
		transform: translateY(0);
	}
}
@media only screen and (min-width: 601px) and (max-width: 850px) {
	#wrapper {
		width:60%;
		left:50%;
		transform: translateX(-50%);
		top:30%
	}
}
#footer {
	text-align: center;
	position: absolute;
	bottom:40px;
	left:50%;
	opacity: 60%;
	transform: translateX(-50%);
	font-size: .8em;
	font-family: 'Cormorant', serif;
	font-weight: 400;
	line-height: 1.4em;
}